<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content>

        <ion-nav-view name="viewContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="side-menu">

        <ion-header-bar align-title="center" class="bar">
            <h1 class="title">Menu</h1>
        </ion-header-bar>

        <ion-content class="has-header">
            <div class="list">
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home">
                    <i class="icon ion-ios-home"></i>
                    Welcome
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.oauth">
                    <i class="icon ion-flame"></i>
                    Oauth
                </a>                
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.actionSheet">
                    <i class="icon ion-chatboxes"></i>
                    Action Sheet
                </a> 
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.facebookConnect">
                    <i class="icon ion-social-facebook"></i>
                    Facebook Connect
                </a>                
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.platform">
                    <i class="icon ion-ios-cog"></i>
                    Platform
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.network">
                    <i class="icon ion-wifi"></i>
                    Network
                </a>                                
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.alert">
                    <i class="icon ion-ios-checkmark"></i>
                    Alert
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.emailComposer">
                    <i class="icon ion-ios-email"></i>
                    Email Composer
                </a> 
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.toast">
                    <i class="icon ion-ios-pricetag"></i>
                    Toast
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.progressIndicator">
                    <i class="icon ion-ios-loop"></i>
                    Progress Indicator
                </a> 
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.splashscreen">
                    <i class="icon ion-ios-glasses"></i>
                    Splashscreen
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.appAvailability">
                    <i class="icon ion-ios-glasses"></i>
                    App Availability
                </a>                
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.version">
                    <i class="icon ion-pin"></i>
                    Version
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.share">
                    <i class="icon ion-link"></i>
                    Share
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.globalization">
                    <i class="icon ion-steam"></i>
                    Globalization
                </a>                                                                                                                  
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
