<ion-view>
    <ion-header-bar align-title="center" class="bar">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Facebook Connect</h1>
    </ion-header-bar>

    <ion-content class="padding">

        <button class="button button-block" ng-click="connectFacebook()" ng-if="!isConnected" ng-hide="!isReady">
          Connect To Facebook
        </button>

        <button class="button button-block" ng-click="logOutFacebook()" ng-if="isConnected" ng-hide="!isReady">
          Deconnexion
        </button> 

    <div class="list" ng-if="isConnected && isReady">

        <a class="item" href="#">
          Name
          <span class="item-note">
            {{name}}
          </span>
        </a>

        <a class="item" href="#">
          Fb Id
          <span class="item-note">
            {{fbId}}
          </span>
        </a>                                                        

      </div>                             

    </ion-content>

</ion-view>
