<ion-view>
    <ion-header-bar align-title="center" class="bar">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Globalization</h1>
    </ion-header-bar>

    <ion-content>    

      <div class="list">

        <a class="item" href="#">
          Preferred Language
          <span class="item-note">
            {{preferredLanguage}}
          </span>
        </a> 

        <a class="item" href="#">
          Locale Name
          <span class="item-note">
            {{localeName}}
          </span>
        </a> 

        <a class="item" href="#">
          First Day Of Week
          <span class="item-note">
            {{firstDayOfWeek}}
          </span>
        </a>                                                              

      </div>

    </ion-content>   

</ion-view>
