<ion-view>
    <ion-header-bar align-title="center" class="bar">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Platform</h1>
    </ion-header-bar>

    <ion-content>

      <div class="list">

        <a class="item" href="#">
          WebView
          <span class="item-note">
            {{webView}}
          </span>
        </a>

        <a class="item" href="#">
          Ipad
          <span class="item-note">
            {{isIpad}}
          </span>
        </a>

        <a class="item" href="#">
          IOS
          <span class="item-note">
            {{isIOS}}
          </span>
        </a>

        <a class="item" href="#">
          Android
          <span class="item-note">
            {{isAndroid}}
          </span>
        </a>

        <a class="item" href="#">
          Current Platform
          <span class="item-note">
            {{currentPlatform}}
          </span>
        </a> 

        <a class="item" href="#">
          Current Platform Version
          <span class="item-note">
            {{currentPlatformVersion}}
          </span>
        </a>                                         

      </div>

    </ion-content>

</ion-view>
