<ion-view>
    <ion-header-bar align-title="center" class="bar">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Toast</h1>
    </ion-header-bar>

    <ion-content class="padding">

        <button class="button button-block" ng-click="showShortTop()">
          showShortTop
        </button> 

        <button class="button button-block" ng-click="showShortCenter()">
          showShortCenter
        </button>   
        
        <button class="button button-block" ng-click="showShortBottom()">
          showShortBottom
        </button> 
        
        <button class="button button-block" ng-click="showLongTop()">
          showLongTop
        </button> 

        <button class="button button-block" ng-click="showLongCenter()">
          showLongCenter
        </button> 

        <button class="button button-block" ng-click="showLongBottom()">
          showLongBottom
        </button>                                                      

    </ion-content>

</ion-view>
